.btn {
  padding: 14px 26px;
  border: 1px solid #0085FF;
  transition: .1s;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-color: unset;
}
.btn:hover {
  border-color: #1952AD;
  background-color: #1952AD;
}

.big-btn {padding: 25px 50px;}

.link {transition: .1s} 
.link:hover {opacity: .7}

.linkLine {
  position: relative;
  cursor: pointer;
}

.linkLine::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #003668;
  transition: .1s;
}
.linkLine:hover:after {
  width: 100%;
  left: 0;
}

@media (max-width: 460px) {
  .btn {width: 100%}
}

@media (max-width: 320px) {
  

.card-link {
  display: block;
  transition: .1s;
}

.card-link p {transition: .1s}

.card-link:hover {
  background-color: #1952AD;
  border-color: transparent !important;
}

.card-link:hover p {
  color: #fff
}