body {overflow-x: hidden}

.wrapper {
  max-width: 1920px;
  display: flex;
  overflow-x: hidden
}

.right-menu {
  width: 100px;
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: center;
}

.scroll-line {
  position: fixed;
  top: 0;
  left: 100px;
  width: 2px;
  height: 100vh;
}

.scroll-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: inherit;
  height: 120px;
}

.menu-button-wrapper {
  position: fixed;
  top: 60px;
  cursor: pointer;
  padding: 20px;
  width: 52px;
  height: 90px;
} 

.menu-button {
  width: 100%;
  height: 100%;
  border-right: 2px solid;
  border-left: 2px solid;
  border-color: #fff;
  transition: .1s;
}
.menu-button-wrapper:hover .menu-button {border-color: #0085FF}

.right-menu .video-button-wrapper {
  position: fixed;
  top: 50%;
  padding: 20px;
  width: 44px;
  height: 70px;
  padding: 20px;
  cursor: pointer;
}

.right-menu .video-button {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.right-menu .video-button .dot {
  width: 4px;
  height: 4px;
  background-color: #fff;
  transition: .1s;
}
.right-menu .video-button-wrapper:hover .dot {background-color: #0085FF}

.main-content-wrapper {
  padding: 50px;
  width: calc(100% - 100px);
}

/* SCREEN 1 */

.screen1 {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.screen1-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.screen1-bg .particle1 {
  width: 687px;
  height: 687px;
  position: absolute;
  top: -350px;
  left: -350px;
  filter: blur(500px);
  opacity: .3;
  z-index: 1;
}

.screen1-bg video {
  position: absolute;
  top: 0;
  right: 0;
  height: 120%;
  opacity: .4;
}

.screen1-bg p {
  position: absolute;
  bottom: 0;
  right: 0;
}

.screen1 .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.screen1 .nav .menu-button-wrapper {display: none}

.screen1 .logo-counter img {
  width: 100px;
  margin-right: 50px;
}

.screen1 .txt-content h1 {margin-bottom: 40px}

.screen1 .description-container {display: flex}

.screen1 .description-container p {opacity: .7}

.screen1 .description-container p:first-child {
  margin-right: 100px;
  max-width: 477px;
}

.screen1 .description-container p:nth-child(2) {max-width: 421px}

.screen1 .txt-content .btn.big-btn {
  margin-top: 50px;
  display: none;
}

/* SCREEN 2 */

.screen2 {
  margin-top: 250px;
  position: relative;
}

.screen2 .screen2-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.screen2 .screen2-bg .particle1 {
  width: 500px;
  height: 500px;
  background-color: #0085FF;
  top: 20%;
  right: 0;
  position: absolute;
  border-radius: 1000px;
  filter: blur(200px);
  opacity: .15;
}

.screen2 .mission {
  display: flex;
  justify-content: space-between;
}

.screen2 .mission .title {
  text-transform: uppercase;
  max-width: 27%;
  flex-shrink: 0;
}

.screen2 .mission h3 {
  max-width: 61.5%;
  padding-right: 10%;
}

.screen2 .cases {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.screen2 .cases .case-item {
  margin-right: 0;
  flex-shrink: 0;
}
.screen2 .cases .case-item:first-child {max-width: 27%}
.screen2 .cases .case-item:nth-child(2) {max-width: 23%}
.screen2 .cases .case-item:last-child {
  max-width: 27%;
  margin-bottom: 0;
}

.screen2 .cases .case-item .item-num {margin-bottom: 10px}

.screen2 .cases .case-item .item-title {margin-bottom: 22px}

.screen2 .cases .case-item .item-describe {opacity: .7}

/* SCREEN 3 */

.screen3 {margin-top: 270px}

.screen3 .top-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.screen3 .top-nav .nav-description {margin-right: 150px}

body[data-lang="ru"] .hdl2 {font-size: 46px}

.screen3 .top-nav .nav-description .product-title {margin-right: 64px}

.screen3 .top-nav .slider-nav .slider-nav-nums {margin-bottom: 50px}

.screen3 .top-nav .slider-nav .slider-nav-arrows {
  display: flex;
  align-items: center;
}

.screen3 .top-nav .slider-nav .slider-nav-arrows div {
  font-size: 35px;
  width: 80px;
  height: 80px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .1s;
}

.screen3 .top-nav .slider-nav .slider-nav-arrows div svg {
  width: 25%;
  height: 25%;
}
.screen3 .top-nav .slider-nav .slider-nav-arrows div:last-child svg {transform: scaleX(-1)}

.screen3 .top-nav .slider-nav .slider-nav-arrows div:first-child {margin-right: 18px}

.screen3 .top-nav .slider-nav .slider-nav-arrows div:hover {
  border-color: #0085FF;
  color: #0085FF;
}
.screen3 .top-nav .slider-nav .slider-nav-arrows div:hover svg path {transition: .1s}
.screen3 .top-nav .slider-nav .slider-nav-arrows div:hover svg path {fill: #0085FF}

.screen3 .screen3-cases {
  width: 100%;
  display: flex;
  margin-top: 80px;
  overflow-x: hidden;
}

.screen3 .screen3-cases .case-item {
  width: 500px;
  min-height: 338px;
  max-height: 390px;
  margin-right: 80px;
  flex-shrink: 0;
  padding: 40px;
  border: 1px solid #383C4B;
}
.screen3 .screen3-cases .case-item:last-child {margin-right: 0}

.screen3 .screen3-cases .case-item .case-item-num {margin-bottom: 10px}

.screen3 .screen3-cases .case-item .case-item-title {margin-bottom: 25px}

.screen3 .screen3-cases .case-item .case-item-description {opacity: .7}


/* SCREEN 4 */

.screen4 {
  margin-top: 250px;
  position: relative;
}

.screen4-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.screen4-bg img {
  position: absolute;
  top: 20%;
  right: 0;
  width: 30%;
  transform: translateY(-35%);
}

.screen4-title span {margin-right: 64px}

.screen4 .description {
  display: flex;
  margin-top: 40px;
}

.screen4 .description p {opacity: .7}
.screen4 .description p:first-child {
  max-width: 435px;
  margin-right: 180px;
}
.screen4 .description p:last-child {max-width: 430px}

.screen4 .mob-img {
  display: none;
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

.screen4 .mob-img img {width: 80%}

/* SCREEN 5 */

.screen5 {
  display: flex;
  align-items: center;
  margin-top: 220px;
  padding: 0 13%;
}

.screen5 .content {
  width: 50%;
}

.screen5 .content .title {
  margin-bottom: 40px;
}

.screen5 .content .title span {
  display: block;
  margin-bottom: 22px;
}

.screen5 .content .description {
  max-width: 520px;
  opacity: .7;
  margin-bottom: 82px;
}

.screen5 video {
  width: 50%;
  z-index: -1;
}

/* SCREEN 6 */

.screen-top-line {position: relative}
.screen-top-line::after {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 100vw;
  height: 2px;
  background-color: #383C4B;
}

.screen6 {
  margin-top: 200px;
  padding-top: 136px;
  display: block;
}

.screen6 .title {margin-bottom: 30px}

.screen6 .description {margin-bottom: 60px}

/* FOOTER */

.footer {
  margin-top: 136px;
  padding-top: 50px;
}

.footer .content {
  display: flex;
  justify-content: space-between;
}

.footer .content .content-item h4 {margin-bottom: 30px}
.footer .content .content-item:last-child h4 {margin-bottom: 50px}

.footer .content .content-item p,
.footer .content .content-item a {margin-bottom: 15px}

.footer .content .content-item a {display: block}

.footer .content .content-item  .img-logo {width: 100px}

.footer .content .content-item .btn {display: inline-block}

.footer .ps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 220px;
}

/* MEDIA REQUESTS */

@media (max-width: 1600px) {
  .screen1 .description-container p:first-child {margin-right: 80px}

  .screen2 .mission .title {margin-right: 125px;}

  .screen2 .mission h3 {
    /* width: 733px; */
    margin-bottom: 60px;
  }

  .screen3 .top-nav .nav-description {margin-right: 100px}

  .screen5 {margin-top: 180px}
}

@media (max-width: 1024px) {

  .right-menu {display: none}

  .main-content-wrapper {
    padding: 30px 12px;
    width: 100%;
  }

  .screen1 {
    height: unset;
    display: block;
    flex-direction: unset;
    justify-content: unset;
  }
  
  .screen1-bg .particle1,
  .screen1-bg p,
  .screen1 .nav .counter,
  .screen1 .language-dropdown,
  .screen1 .calc-investments {display: none}

  .screen1 .nav .menu-button-wrapper {
    display: block;
    transform: rotate(90deg);
    top: 10px;
    left: unset;
    right: 30px;
    z-index: 1;
  }
  
  .screen1 .txt-content h1 {
    margin-top: 290px;
    margin-bottom: 45px;
  }

  .screen1 .description-container p {width: 50%}

  .screen1 .description-container p:first-child {max-width: 430px}
  .screen1 .description-container p:nth-child(2) {max-width: 375px}

  .screen2 {margin-top: 190px}

  .screen2 .screen2-bg .particle1 {transform: translateX(30%)}

  .screen2 .mission {display: unset}

  .screen2 .mission .title {margin-bottom: 30px}

  .screen2 .mission h3 {
    width: 820px;
    max-width: 100%;
    margin-bottom: 70px;
  }

  .screen2 .cases {
    flex-wrap: wrap;
    padding-right: 5%;
  }

  .screen2 .cases .case-item {margin-bottom: 40px}

  .screen2 .cases .case-item:first-child {max-width: 45%}
  .screen2 .cases .case-item:nth-child(2) {max-width: 39%}
  .screen2 .cases .case-item:last-child {max-width: 43%}

  .screen3 {margin-top: 175px}  

  .screen3 .top-nav .slider-nav {
    display: flex;
    align-items: flex-start;
  }

  .screen3 .top-nav .slider-nav .slider-nav-nums {
    margin-bottom: 0;
    margin-right: 25px;
  }

  .screen3 .top-nav {align-items: flex-start}
  
  .screen3 .top-nav .nav-description {
    margin-right: 0;
    width: 70%;
  }
  .screen3 .top-nav .slider-nav .slider-nav-arrows div {
    width: 70px;
    height: 70px;
  }

  .screen4 .description p:first-child {margin-right: 100px}

  .screen5 {
    margin-top: 130px;
    padding: 0;
  }

  .screen5.screen6 {display: block}
  .screen5 {display: flex}
  .screen5 .content {
    width: 40%;
    margin-bottom: 50px;
  }
  .screen5 video {width: 60%}

  .screen5 .content .description {
    margin-right: 26%;
    margin-bottom: 60px;
  }

  .screen6 {
    margin-top: 125px;
    padding-top: 136px;
  }

  .screen-top-line::after {width: 200vw}

  .footer .content {display: block}

  .footer .content .content-item {margin-bottom: 50px}
  .footer .content .content-item:last-child {margin-bottom: 0}

  .footer .ps {
    margin-top: 140px;
    display: block;
  }

  .footer .ps *:first-child {margin-bottom: 25px}
}

@media (max-width: 938px) {
  .screen3 .top-nav .nav-description {font-size: 36px}
}

@media (max-width: 822px) {
  .screen3 .top-nav .slider-nav {margin-top: 36px}
}

@media (max-width: 640px) {

  .main-content-wrapper {padding: 50px 20px}

  .screen1-bg img {
    width: 100%;
    height: unset;
  }

  .screen1 .nav .menu-button-wrapper {top: 26px}

  .screen1 .txt-content h1 {
    margin-top: 190px;
    margin-bottom: 30px;
  }

  .screen1 .description-container {
    flex-direction: column;
    max-width: 435px;
  }

  .screen1 .description-container p {width: unset}

  .screen1 .description-container p:first-child {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .screen1 .txt-content .btn.big-btn {display: inline-block}

  .screen2 {margin-top: 150px}

  .screen2 .screen2-bg .particle1 {transform: translateX(50%)}

  .screen2 .mission h3 {
    width: 510px;
    margin-bottom: 60px;
  }

  .screen2 .mission .title {
    max-width: 100%;
  }

  .screen2 .cases {padding-right: 0}

  .screen2 .cases .case-item {margin-bottom: 50px}

  .screen2 .cases .case-item:first-child {max-width: 84%}
  .screen2 .cases .case-item:nth-child(2) {max-width: 70%}
  .screen2 .cases .case-item:last-child {max-width: 84%}

  .screen3 {margin-top: 150px}

  .screen3 .top-nav .nav-description {width: 100%}

  .screen3 .top-nav .nav-description .product-title {
    margin-right: 0;
    display: block;
    margin-bottom: 30px;
  }

  .screen3 .top-nav .slider-nav {
    order: 2;
    margin-top: 50px;
    display: unset;
  }

  .screen3 .top-nav .slider-nav .slider-nav-nums {margin-bottom: 30px}

  .screen3 .screen3-cases {margin-top: 50px}
  
  .screen3 .screen3-cases .case-item {
    width: 100%;
    height: unset;
    max-height: unset;
  }

  .screen4 {margin-top: 150px}


  .screen4-bg img {display: none}
  .screen4 .mob-img {display: block}

  .screen4 .screen4-title span {
    display: block;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .screen4 .description {flex-wrap: wrap}

  .screen4 .description p:first-child {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .screen5 {display: block}
  .screen5 .content {
    width: 100%;
    margin-bottom: 50px;
  }
  .screen5 video {width: 100%}

  .screen5 .content .title {margin-bottom: 30px}

  .screen5 .content .description {margin-bottom: 50px}

  .screen6 .description {margin-bottom: 50px}
}

@media (max-width: 400px) {
  .main-content-wrapper {padding: 30px 10px}

  .screen1-bg video {
    right: unset;
    left: 0;
  }

  .screen1 .nav .menu-button-wrapper {top: 6px}

  .screen1 .language-dropdown {display: none}

  .screen1 .txt-content h1 {margin-top: 100px}

  .screen1 .description-container,
  .screen1 .description-container p {width: 100% !important}
  
  .screen1 .txt-content .btn.big-btn {
    display: block;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .screen2 {margin-top: 100px}

  .screen2 .mission h3 {
    width: 100%;
    margin-bottom: 60px;
  }

  .screen2 .cases .case-item {
    max-width: 100% !important;
    margin-bottom: 30px;
  }

  .screen3 {margin-top: 100px}

  .screen3 .top-nav {align-items: flex-end}

  .screen3 .top-nav .nav-description {
    width: 60%;
    font-size: 30px;
  }

  body[data-lang="ru"] .screen3 .top-nav .nav-description {width: 100%}

  .screen3 .top-nav .slider-nav {order: 0}

  .screen3 .top-nav .slider-nav .slider-nav-nums {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .screen3 .top-nav .slider-nav .slider-nav-arrows div {
    width: 50px;
    height: 50px;
  }

  .screen3 .screen3-cases .case-item {padding: 30px}

  .screen4 .mob-img img {width: 100%}

  .screen5 {margin-top: 80px}

  .screen5 img {width: 100%}

  .screen5 .content .description {margin-right: 0}

  .screen5 .btn {width: 100%}

  .screen6 {
    margin-top: 100px;
    padding-top: 100px;
  }

  .screen6 .title {margin-bottom: 15px}
  .screen6 .description {margin-bottom: 40px}
  
  .footer,
  .footer .ps {margin-top: 100px}

  .footer .ps *:first-child {margin-bottom: 15px}
}